
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

header {
    background-position: center;
    text-align: center;
}

header .logo {
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 19px;
}

header hr {
    display: none;         
}

header nav{
    list-style: none;
    text-align: center;
}

header nav li {
    display:inline;
}

header nav a {
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

header nav a:hover {
    color: darkred;
}

header .img {    
    width: 100%;
    padding: 0 auto;
    background-size:cover;
}

.meist {
    margin: 75px 125px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.meist-tekst {
    text-align: justify;
}

.meist-tekst h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
}

.meist-tekst p {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
} 

.meist img {
    float: right;
    height: 100%;
    margin: 50px;
}

.gallery-heading {
    display: none;
}

.gallery-links{
    padding: 40px;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.container img {
    object-fit: cover;
}

.post-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    transition: 0.5s;
    opacity:0;
}

.gallery-image:hover .post-header {
    opacity: 1;
}


footer {
    width: calc(100%-80px);
    padding: 40px 40px;
    background-color:#a3c2c2;
    margin-top: 20px;
    overflow: hidden;
}

footer ul {
    list-style: none;
    float: left;
    padding-left: 10px;
}

footer ul li {
    padding: 0 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    text-decoration: none;
}

footer .footer-sm {
    display: flex;
    flex-direction: column;
    float: right;
    padding: 20px;
}

@media only screen and (max-width: 900px) {

header hr {
    display: block;
    color: darkslategray;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px;          
}

header img{
    width: 100%;
}

.meist img {
    display:none;
}


.gallery-links {
    flex-direction: column;
    align-items: center;  
}

.gallery-heading {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    margin-left: 125px;
}

.gallery-links .gallery-image {
    margin: 25px;
}

}